$linear: cubic-bezier(0.0, 0.0, 1.0, 1.0); /* linear */

/* Sine（最も弱い） */
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715); /* easeInSine */
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1); /* easeOutSine */
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95); /* easeInOutSine */

/* Quad（弱め。Sineより強く、Cubicより弱い） */
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53); /* easeInQuad */
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94); /* easeOutQuad */
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955); /* easeInOutQuad */

/* Cubic（Quadより強く、Quartより弱い） */
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19); /* easeInCubic */
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1); /* easeOutCubic */
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */

/* Quart（Cubicより強く、Quintより弱い） */
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22); /* easeInQuart */
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1); /* easeOutQuart */
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1); /* easeInOutQuart */

/* Quint（Quartより強く、Expoより弱い） */
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06); /* easeInQuint */
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1); /* easeOutQuint */
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1); /* easeInOutQuint */

/* Expo（最も強い） */
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035); /* easeInExpo */
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo: cubic-bezier(1, 0, 0, 1); /* easeInOutExpo */

/* Circ（Expoのような強さを持つが、加速や減速の時間がよりゆるやか。） */
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335); /* easeInCirc */
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1); /* easeOutCirc */
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86); /* easeInOutCirc */

/* Back（少し行き過ぎてから戻ってくるような動き） */
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045); /* easeInBack */
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275); /* easeOutBack */
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55); /* easeInOutBack */