---
permalink: "templates/page.html"
---
<%
// ここにページの中身を書く
const children = `
<div>aaaaaa</div>
<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
<!-- wp:post-featured-image /-->
<!-- wp:post-title /-->
<!-- wp:post-author {"showAvatar":false} /-->
<!-- wp:post-date /-->
<!-- wp:post-terms {"term":"category"} /-->
<!-- wp:post-excerpt /-->
<!-- wp:post-navigation-link {"type":"previous", "label": "前の記事", "linkLabel":true} /-->
<!-- wp:post-navigation-link {"type":"next", "label": "次の記事", "linkLabel":true} /-->
`;
-%>
<%- include('../_includes/components/template-part.ejs', {
  props: {
    slug: 'header',
    tagName:'header',
  }
}) -%>
<%- include('../_includes/components/group-main.ejs', {
  props:{
    children: children, // isRquired
    // layoutType: 'constrained | default | flex', // isRquired
    style: {"spacing":{"margin":{"top":"var:preset|spacing|50"}}}, //isOptional Object
    mainStyle: 'margin-top:var(--wp--preset--spacing--50)', //isOptional
    // mainClasses: 'string', //isOptional
  }}) -%>
<%- include('../_includes/components/template-part.ejs', {
  props: {
    slug: 'footer',
    tagName:'footer',
  }
}) -%>