---
permalink: "parts/footer.html"
---
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:navigation -->
      <!-- wp:page-list /-->
  <!-- /wp:navigation -->
  
  <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"small"} -->
  <div class="wp-block-group has-small-font-size">
      <!-- wp:paragraph -->
      <p>©︎</p>
      <!-- /wp:paragraph -->
  
      <!-- wp:site-title {"level":0,"isLink":false} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->