---
permalink: "parts/header.html"
---
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group">
      <!-- wp:site-title {"level":0, "fontSize":"x-large"} /-->
      <!-- wp:navigation /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:block -->